/*style.css*/

html {
    background-color: cornsilk;
    color: olive;
    font-family: Calibri;
}
h1 {
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 4px gray;
}

.intro {
    text-align: center;
}

p.intro {
    color: #444;
    margin: auto;
    width: 25%;
    border-bottom: 2px solid olive;
    padding: 10px;
}
button.openbtn {
    background-color: palegoldenrod;
    font-family: Calibri;
    font-size: 15px;
    margin-top: 20px;
    color: #444;
    padding: 7px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px lightgray;
    transition: 0.5s;
}
button.openbtn:hover {
    background-color: olive;
    color: cornsilk;
    transition: 0.5s;
}
img.pfp {
    border-radius: 50%;
    border: 1.5px solid;
    padding: 5px;
    width: 200px;
    margin-bottom: 20px;
}
img.potted-plants {
    width: 500px;
}

.sec1-lists {
    float: left;
    margin-left: 250px;
    font-size: 25px;
}

.sec2-table {
    float: right;
    margin-right: 255px;
    margin-top: 75px;
    margin-bottom: 100px;
}
table {
    border-collapse: collapse;
    text-align: center;
    width: 150%;
}
td, th {
    border: 1px solid #444;
    padding: 15px;
}
tr:nth-child(even) {
    background-color: palegoldenrod;
}
