/*style.css*/

html {
    background-color: cornsilk;
    color: olive;
    font-family: Calibri;
    text-align: center;
}
h1 {
    font-size: 40px;
}
p.intro {
    color: #444;
    border-bottom: 2px solid;
    border-color: olive;
    padding: 10px;
    margin-left: 550px;
    margin-right: 550px;
}
button.openbtn {
    background-color: palegoldenrod;
    font-family: Calibri;
    font-size: 15px;
    color: #444;
    padding: 7px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px lightgray;
    transition: 0.5s;
}
button.openbtn:hover {
    background-color: olive;
    color: cornsilk;
    transition: 0.5s;
}
img.pfp {
    float: center;
    border-radius: 50%;
    border: 1.5px solid;
    padding: 5px;
    width: 200px;
}
img.potted-plants {
    float: center;
    width: 500px;
}