/*style.css*/

html {
    background-color: cornsilk;
    color: olive;
    margin-left: 100px;
    font-family: Calibri;
}
h1 {
    font-size: 40px;
}
p {
    color: #444;
}
.openbtn {
    background-color: palegoldenrod;
    font-family: Calibri;
    font-size: 15px;
    color: #444;
    padding: 7px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px lightgray;
    transition: 0.5s;
}
.openbtn:hover {
    background-color: olive;
    color: cornsilk;
    transition: 0.5s;
}
.pfp {
    float: left;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    border: 1.5px solid;
    padding: 5px;
    width: 157px;
}
.potted-plants {
    float: left;
    width: 500px;
}