/*style.css*/

html {
    background-image: url(https://cdn.wallpapersafari.com/63/33/fCze7y.jpg);
    background-color: cornsilk;
    color: olive;
    font-family: Calibri;
}
h1 {
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 4px gray;
}

div.intro {
    text-align: center;
}
p.intro {
    color: #444;
    margin: auto;
    width: 25%;
    border-bottom: 2px solid olive;
    padding: 10px;
}
button.openbtn {
    background-color: palegoldenrod;
    font-family: Calibri;
    font-size: 18px;
    margin-top: 20px;
    color: #444;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px lightgray;
    transition: 0.5s;
}
button.openbtn:hover {
    background-color: olive;
    color: cornsilk;
    transition: 0.5s;
}
img.pfp {
    border-radius: 50%;
    border: 1.6px solid;
    padding: 5px;
    width: 200px;
    margin-bottom: 20px;
}
img.potted-plants {
    width: 500px;
}

div.sec1-lists {
    margin-left: 250px;
    font-size: 25px;
}
li {
    color: #444;
}

div.sec2-table {
    float: right;
    margin-right: 115px;
    margin-top: 65px;
    margin-bottom: 100px;
    height: 258px;
    width: 458px 120%;
    overflow: auto;
}
table {
    border-collapse: collapse;
    text-align: center;
}
td, th {
    border: 1px solid #444;
    padding: 15px;
}
td {
    font-size: 17px;
    color: #444;
}
th {
    font-size: 20px;
    background-color: olive;
    color: cornsilk;
}
tr:nth-child(even) {
    background-color: cornsilk;
}
tr:nth-child(odd) {
    background-color: palegoldenrod;
}

div.sec3-time {
    margin-left: 260px;
    margin-top: 100px;
    margin-bottom: 50px;
}
p.time {
    float: right;
    margin-right: 225px;
    margin-top: 33px;
    font-size: 25px;
    text-shadow: 2px 2px 4px gray;
}
